body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(229, 235, 236);
    /* background-color: #817b80;
    background-color: rgb(129, 123, 128); */
}

.gradient-text  {
    background: linear-gradient(to right, #ff8a00, #605ec2);
     -webkit-background-clip: text;
     color: transparent;
            text-align: center;
            font-size: 56px;
}
.repoPerPage{
    background: linear-gradient(to right, #281d8f, #7f7fcc);
    -webkit-background-clip: text;
    color: transparent;
     margin:10px;
     /* padding:5px; */
    text-align: center;
    font-size: 30px;
}

.details {
    display: flex;
    /* flex-direction: column;  */
    margin: 3px;
    background-color: rgb(174, 205, 212);
    justify-content: center; 
    align-items: center;
    gap: 40px;
    color: rgb(187, 84, 37); 
    border-radius: 15px;
}

.git-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 5px 25px;
    margin: 20px;
    background: linear-gradient(to right, rgb(179, 169, 169), rgb(241, 234, 234), rgb(238, 223, 223) );
   border-radius: 25px;
   padding: 40px;
   box-shadow: 8px 10 5px rgba(175, 175, 152, 0.1);

}

#pagination {
    margin:25px;
     display:flex;
     gap:20px;
border: 1px solid rgb(231, 225, 225);
     justify-content: center;
     align-items: center;
     border-radius: 40px;
     background-color: rgb(233, 233, 233);    
}
#pagination button{
    padding: 8px;
    border: none;
     border-radius: 40px;
     text-decoration: none;
     background-color: rgb(196, 214, 221);

}
a{
    text-decoration: none;
    color:rgb(68, 60, 189);

}  

.git-profile a{
  text-decoration: none;
    color:rgb(68, 60, 189);
  text-shadow: #083350;
}
.profile-photo{
    text-align: center;

}
.profile-photo img {
    width: 120px;
    height: 120px; 
}

.github-link {
    padding-top: 10px;
    /* margin-top: 40px; */
}

.info{
    /* background: linear-gradient(to right, rgb(83, 82, 82), rgb(180, 175, 175), rgb(238, 223, 223) ); */
    padding: 10px;
    margin: 20px;
}

.info .div{
    padding: 5px;
}


.search-bar{
    text-align: center;
    /* padding: 10px 100px; */
    margin: 20px;
}

.search-bar input{
     width: 25%;
     text-align: center;
     padding: 10px 220px;
     border-radius: 70px;
}


#container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0px;
    padding: 20px;
    align-items: center;
    /* background-color: rgb(196, 170, 189); */
    box-shadow: 10px 24px 58px  rgba(54, 45, 185, 0.1);
}


.topics, .search-bar button{
    margin: 10px;
    border-radius: 150px;
    background-color: rgb(223, 208, 162);
    padding: 10px
}

.search-bar button{
    margin: 10px;
    border-radius: 90px;
    background-color: rgb(175, 188, 231);
    padding:10px 20px;
}
.search-bar input{
       background: linear-gradient(to right, rgb(122, 114, 107), rgb(241, 234, 234), rgb(238, 223, 223) );
       font-size: 20px;
}
.grid-container{
    box-shadow: 10px 24px 58px 38px rgba(212, 212, 66, 0.1);

       background: linear-gradient(to right, rgb(216, 168, 190), rgb(176, 183, 245) );
        border-radius: 30px;
        color: rgb(22, 21, 21);
        padding: 15px;
        margin: 10px;

};

select#repoPerPage {
     
}
select#repoPerPage {
    margin:10px;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #615e5e; 
    border-radius: 5px;
    background-color: #fff;
    color: #333; 
    background-color: #aebcc7;
       cursor: pointer;
}


.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 245px;
    margin-left: -25px;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }